<body>
<div class="banner">
    <img class="inverser-horizontalement" src="../../../assets/img/animaux3.jpg" alt="Image 1">
    <br>
    <img class="image-droite" src="../../../assets/img/animaux4.png" alt="Image 2">
    <br>
    <img class="inverser-horizontalement2" src="../../../assets/img/animaux5.png" alt="Image 3">
    <div class="text-container2">
      <p>Bienvenue sur notre boutique en ligne dédiée à la fourniture de nourriture de qualité pour vos patients à quatre pattes! Chez PetCareConnect , nous comprenons l'importance d'une alimentation équilibrée pour la santé et le bien-être de vos animaux.</p>
    
      <p>Nous sommes fiers de vous offrir une sélection soigneusement choisie de nourriture pour animaux, spécialement conçue pour répondre aux besoins nutritionnels variés de vos patients. Que ce soit pour les chiens, les chats, les oiseaux ou d'autres compagnons à plumes et à poils, nous avons des options adaptées à chaque espèce.</p>
    
      <p>Nos produits sont élaborés en collaboration avec des nutritionnistes vétérinaires pour garantir une qualité optimale. Nous privilégions des ingrédients de haute qualité, sans compromis sur la saveur, la digestibilité et la valeur nutritionnelle.</p>
    
      <p>Explorez notre gamme diversifiée comprenant des croquettes, des aliments en conserve, des friandises santé et bien plus encore. Nous sommes déterminés à fournir à votre clinique vétérinaire des solutions alimentaires exceptionnelles pour chaque stade de la vie de l'animal.</p>
    
      <p>Faites de PetCareConnect votre destination privilégiée pour la nourriture pour animaux de qualité. Naviguez à travers notre catalogue, passez votre commande en ligne et offrez à vos patients une alimentation équilibrée pour une vie saine et heureuse.</p>
      <button  class="donation-button" routerLink="/service">fourniture</button>
    </div>
    
    <div class="text-container">
      <p>Contribuez à la santé et au bien-être des animaux en faisant un don généreux. Chaque euro compte pour offrir des soins vétérinaires essentiels et sauver des vies. </p>

      <p> Votre soutien financier aide notre équipe de vétérinaires dévoués à fournir des traitements avancés, des médicaments et des opérations pour nos amis à quatre pattes. Faites une différence aujourd'hui !</p>
        
      <p>Ensemble, nous pouvons assurer un accès continu aux soins de santé pour les animaux malades et blessés. Votre contribution contribuera à maintenir nos services de vétérinaires accessibles à tous. </p>
        
      <p>Chaque don nous rapproche d'un monde où tous les animaux reçoivent l'amour et les soins dont ils ont besoin. Soutenez-nous dans notre mission pour rendre nos amis à fourrure heureux et en bonne santé. </p>
        <button  class="donation-button" routerLink="/dons">Faire un don</button>
    </div>

    <div class="text-container3">
      <p>Petcare Connect est une plateforme web dédiée aux amoureux des animaux, offrant une expérience complète pour la gestion proactive de la santé de leurs compagnons. </p>
      <p>Doté d'un design convivial, de fonctionnalités de dons intuitives, et d'une section "Forum" mettant en avant les contributions sociales du groupe de vétérinaires, le site allie esthétisme et utilité.  </p>
      <p>Petcare Connect aspire à créer une communauté engagée et bien informée autour du bien-être animal.</p>
      <button  class="donation-button" routerLink="/forum">Notre forum</button>
    </div>
</div>
</body>