footer {
  background-color: var(--footer-bg-color);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  --footer-bg-color: #ffcc80;
  --text-color: #6c757d;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 20px; /* Réduction de la marge entre les éléments */
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}

a:hover {
  color: #000;
}

p {
  margin: 0;
  padding: 10px;
  color: var(--text-color);
}

.icone-reseau-sociaux {
  display: inline-block;
  margin-left: 10px; /* Ajout d'une petite marge à gauche des icônes */
}

.icone-reseau-sociaux img {
  width: 20px;
  height: 20px;
}

.icone-reseau-sociaux:last-child {
  margin-left: auto;
}
