
<footer class="py-3 my-4">
  <nav>
    <ul>
      <li><a routerLink="accueil">Accueil</a></li>
      <li><a routerLink="newsletter">Newsletter</a></li>
      <li><a routerLink="signUp">S'inscrire</a></li>
      <li><a routerLink="contact">Contacts</a></li>  
      <li class="reseaux-sociaux">
        <a href="https://www.facebook.com/" target="_blank" title="Facebook" class="icone-reseau-sociaux"><img src="/assets/icons/facebook.png" alt="Facebook"></a>
        <a href="https://twitter.com/home" target="_blank" title="Twitter" class="icone-reseau-sociaux"><img src="/assets/icons/twitter.png" alt="Twitter"></a>
        <a href="https://www.threads.net" target="_blank" title="Threads" class="icone-reseau-sociaux"><img src="/assets/icons/Threads.png" alt="Threads"></a>
      </li>
    </ul>
  </nav>
  <p class="text-center text-muted">©2024 PetCareConnect, Inc</p>
  </footer>
